/* Este fichero CSS incluye algunos estilos adicionales */

/* Tales como 
- Navbar
- Landing page
- Divisiones para el control de errores
- Adaptaciones del framework WaterCSS
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Landing */
#bodyLanding {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#mainLanding {
  height: 100%;
  width: 100vw;
  background-image: url(../img/landing.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30rem;
  height: 30rem;
  background-color: #334458;
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
}

.card img {
  width: 16rem;
}

.card p {
  width: 80%;
  text-align: center;
  font-weight: 800;
}
/* Estilos para la division de errores */
.divErrores {
  margin-top: 1rem;
  background-color: rgb(196, 80, 80);
  border-radius: 0.3rem;
  padding-inline: 0.5rem;
}

.divErrores ul {
  margin-top: 0.3rem;
}

/* Estilos para el listado parametrizado */

.listadoParam {
  margin-top: 4.8rem;
}

/* Estilos de la navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #334458;
  height: 4rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enlaces {
  color: whitesmoke;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

#btnMenuMovil {
  display: none;
}

#aGithub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5rem;
}

#aGithub img {
  pointer-events: none;
}

#aGithubM {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

#aGithubM img {
  pointer-events: none;
}

.enlaces-movil {
  display: contents;
  position: fixed;
  top: 4rem;
  right: 2.5rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #4a6380;
}

.oculto {
  display: none;
}

.logo {
  width: 8rem;
}

.logo:hover {
  width: 9rem;
}

/* Media query para la responsividad de la navbar */

@media only screen and (max-width: 750px) {
  .enlaces {
    display: none;
  }

  #btnMenuMovil {
    display: contents;
  }
}

/* Media query por si redimensiona la ventana con el menu abierto */
@media only screen and (min-width: 750px) {
  .enlaces-movil {
    display: none;
  }
}
